# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# dotenv
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Redbot data
data/

# Misc
*.log
*.pot
*.mo
*.pyo
*.pyd
.DS_Store
Thumbs.db
audiotest/
trusty-cogs.sublime-workspace
*.sublime-workspace
.idea/
.github/copilot/
copilot-instructions.md
.github/YALC-update.md
YALC/Third Parties - Red-Web-Dashboard documentation.html
YALC/Third Parties - Red-Web-Dashboard documentation_files/sphinx_highlight.js.download
YALC/Third Parties - Red-Web-Dashboard documentation_files/readthedocs-addons.js.download
YALC/Third Parties - Red-Web-Dashboard documentation_files/pygments.css
YALC/Third Parties - Red-Web-Dashboard documentation_files/jquery.js.download
YALC/Third Parties - Red-Web-Dashboard documentation_files/furo.js.download
YALC/Third Parties - Red-Web-Dashboard documentation_files/furo.css
YALC/Third Parties - Red-Web-Dashboard documentation_files/furo-extensions.css
YALC/Third Parties - Red-Web-Dashboard documentation_files/documentation_options.js.download
YALC/Third Parties - Red-Web-Dashboard documentation_files/doctools.js.download
YALC/Third Parties - Red-Web-Dashboard documentation_files/_sphinx_javascript_frameworks_compat.js.download
